[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "pack/plugins/start/vim-tmux-navigator"]
	path = pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pack/plugins/start/vim-templates"]
	path = pack/plugins/start/vim-templates
	url = https://github.com/tibabit/vim-templates.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/souffle.vim"]
	path = pack/plugins/start/souffle.vim
	url = https://github.com/souffle-lang/souffle.vim
